@model MikeRosoft.Models.RecommendationViewModels.RecommendationCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create" method="post">

    <div class="form-horizontal">
        <h4>Recommendation</h4>
        <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NameRec" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NameRec" class="form-control" />
                        <span asp-validation-for="NameRec" class="text-danger" />
                    </div>
                    <label asp-for="Description" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger" />
                    </div>
                </div>

            
      
        <!--Datos del administrador que crea la recomendacion-->
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FirstSurname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstSurname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SecondSurname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SecondSurname)
            </dd>
        </dl>

        <input asp-for="AdminId" type="hidden" class="form-control" />



        <table class="table">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Rate
                    </th>
                    <th>
                        Price
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ProductRecommendations.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelProduct => Model.ProductRecommendations.ElementAt<ProductRecommend>(i).Product.title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelProduct => Model.ProductRecommendations.ElementAt<ProductRecommend>(i).Product.precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelProduct => Model.ProductRecommendations.ElementAt<ProductRecommend>(i).Product.rate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="CreateButton" value="Create"  class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}