@model MikeRosoft.Models.Recommendation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recommendation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.admin.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.admin.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.admin.FirstSurname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.admin.FirstSurname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.admin.SecondSurname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.admin.SecondSurname)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Price
                </th>
                <th>
                    Stock
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ProductRecommendations.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelProduct => Model.ProductRecommendations.ElementAt<ProductRecommend>(i).product.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelProduct => Model.ProductRecommendations.ElementAt<ProductRecommend>(i).product.precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelProduct => Model.ProductRecommendations.ElementAt<ProductRecommend>(i).product.stock)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdRecommendation">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
