@model MikeRosoft.Models.RecommendationViewModels.SelectProductsForRecommendationViewModel

@{
    ViewData["Title"] = "Select Products";
}

<h1>Select Product for Recommendation</h1>

<form asp-controller="Recommendations" class="form-horizontal" asp-action="SelectProductsForRecommendation" method="get">
    <p>
        <div>
            <label asp-for="productTitle"></label>
            <input asp-for="productTitle" size="50" />
            <span asp-validation-for="productTitle" class="text-danger"></span>

            <label asp-for="productPrice"></label>
            <input asp-for="productPrice" min="0" max="number" />
            <span asp-validation-for="productPrice" class="text-danger"></span>

            <label asp-for="productRate"></label>
            <input asp-for="productRate" min="0" max="5" />
            <span asp-validation-for="productRate" class="text-danger"></span>

            <label asp-for="productBrandSelected"></label>
            <select asp-for="productBrandSelected" asp-items="Model.Brands">
                <option value="">All</option>
            </select>
            <input type="submit" value="Filter"/>
        </div>
    </p>
</form>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="SelectProductsForRecommendation" method="post">
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-default">Cancel</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th width="50%">
                Title
            </th>
            <th>
                Price
            </th>
            <th>
                Rate
            </th>
            <th width="10%">
                Select Product
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Products.Count() == 0)
        {
            <tr><td colspan="3">There are no products available</td></tr>
        }
        else
        {
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td width="50%">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.brand.Name)
                    </td>
                    <td width="10%">
                        <input type="checkbox" name="IdsToAdd" value="@item.Id" />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
