@model MikeRosoft.Models.BanViewModels.BanDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h2> General ban data </h2>
<table class="table" width="100%">
    <thead>
        <!-- Table headers -->
        <tr>
            <th>
                Ban number
            </th>

            <th>
                Admin
            </th>

            <th>
                Ban date
            </th>
        </tr>
    </thead>


    <!-- Table content -->
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(m => m.ban.ID)
            </td>

            <td>
                @Html.DisplayFor(m => m.admin.Name) @Html.DisplayFor(m => m.admin.FirstSurname) (@Html.DisplayFor(m => m.admin.DNI) )
            </td>

            <td>
                @Html.DisplayFor(m => m.ban.BanTime)
            </td>
        </tr>
    </tbody>


    <!-- Table for Ban For Users info -->
    <h2> Specific ban data </h2>

    <thead>
        <!-- Table headers -->
        <tr>
            <th>
                User
            </th>

            <th>
                Ban type
            </th>

            <th>
                Start
            </th>

            <th>
                End
            </th>

            <th>
                Additional Comment
            </th>
        </tr>
    </thead>

    @for (int i = 0; i < Model.ban.GetBanForUsers.Count; i++)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(m => m.bannedUsers[i].Name) @Html.DisplayFor(m => m.bannedUsers[i].FirstSurname) (@Html.DisplayFor(m => m.bannedUsers[i].DNI))
                </td>

                <td>
                    @Html.DisplayFor(m=>m.BanTypeNames[i])
                </td>

                <td>
                    @Html.DisplayFor(m => m.ban.GetBanForUsers[i].Start)
                </td>

                <td>
                    @Html.DisplayFor(m => m.ban.GetBanForUsers[i].End)
                </td>

                <td>
                    @Html.DisplayFor(m => m.ban.GetBanForUsers[i].AdditionalComment)
                </td>
            </tr>
        </tbody>
    }

</table>

<div>
    <!--<a asp-action="Edit" asp-route-id="@Model.">Edit</a> -->
    <a asp-action="Index">Back to List</a>
</div>
