@model MikeRosoft.Models.OrderViewModels.OrderDetailsForBuyViewModel


@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Purchase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstSurname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.FirstSurname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.SecondSurname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.SecondSurname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.PurchaseItems.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.PurchaseItems.ElementAt<PurchaseItem>(i).Movie.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.PurchaseItems.ElementAt<PurchaseItem>(i).Movie.PriceForPurchase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.PurchaseItems.ElementAt<PurchaseItem>(i).Quantity)
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
